[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"

[packages]

pytest = "*"
requests = "*"
pyaml = "*"
geopy = "*"
unidecode = "*"
allure-pytest = "*"
invoke = "*"
pytest-xdist = "*"


[dev-packages]

ipython = "*"
