[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

pytest = "*"
requests = "*"
pyaml = "*"
geopy = "*"
unidecode = "*"
allure-pytest = "*"
invoke = "*"


[dev-packages]

ipython = "*"
